# Default admin password
ADMINPASSWORD=supersecret

# Database variables
## Host and port is likely to be set by linking but can be overridden by
## variable. You can set protocol to 'tcp' like docker but it's not used.
#DB_PORT=<protocol>://<host_or_ip>:<port>
DB_USERPASS=zotonic:zotonic
#DB_DATABASE=custom_database
#DB_SCHEMA=custom_schema
